/* En src/styles.css */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Aquí puedes añadir otros estilos personalizados, por ejemplo: */
.mat-toolbar.mat-primary {
  background-color: #3f51b5; /* Color índigo por defecto */
  color: white;
}